# LABEL ENCODING - HANDLING CATEGORICAL VARIABLES

In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset=pd.read_csv('50_Startups.csv')

In [4]:
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [6]:
df=pd.get_dummies(dataset['State'],drop_first=True)

In [7]:
dataset=pd.concat([df,dataset],axis=1)

In [9]:
dataset.drop('State',axis=1,inplace=True)

In [10]:
dataset.head()

   Florida  New York  R&D Spend  Administration  Marketing Spend     Profit
0        0         1  165349.20       136897.80        471784.10  192261.83
1        0         0  162597.70       151377.59        443898.53  191792.06
2        1         0  153441.51       101145.55        407934.54  191050.39
3        0         1  144372.41       118671.85        383199.62  182901.99
4        1         0  142107.34        91391.77        366168.42  166187.94

In [11]:
# DIVIVE THE DATA SET INTO X AND Y

In [12]:
x=dataset.iloc[:,:-1]
y=dataset.iloc[:,[5]]

In [13]:
#SPLITTING THE DATASET INTO TRAIN AND TEST DATASET

In [14]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [15]:
# BUILD THE LINEAR REGRESSION MODEL

In [17]:
from sklearn.linear_model import LinearRegression
regression=LinearRegression()
regression.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [18]:
# PREDICT THE MODEL

In [19]:
y_predict=regression.predict(x_test)

In [20]:
# MODEL EVALUATION AND SCORE

In [21]:
from sklearn.metrics import r2_score
score=r2_score(y_test,y_predict)

In [22]:
score

0.9347068473283002